{% capture categories %}
  {% if post %}
    {% for category in post.categories %}
        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category }}" title="Category: {{ category }}" rel="category">{{ category | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% else %}
    {% for category in page.categories %}
        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category }}" title="Category: {{ category }}" rel="category">{{ category | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% endif %}
{% endcapture %}
{% capture category_size %}{{ categories | strip_newlines | replace: ' ', '' | size }}{% endcapture %}
{% unless category_size == '0' %}
<!-- <span class="point">•</span> -->
<span class="categories">
  <i class="fa fa-th-list"></i>{{ categories }}
  <!-- <span class="point">•</span> -->
  <i class="github-info">
              <iframe src="https://ghbtns.com/github-btn.html?user=kingseast&repo=kingseast.github.io&type=star&count=true" frameborder="0" scrolling="0" width="85px" height="20px"> </iframe>
              <iframe src="https://ghbtns.com/github-btn.html?user=kingseast&repo=kingseast.github.io&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="85px" height="20px"></iframe>
              <iframe src="https://ghbtns.com/github-btn.html?user=kingseast&type=follow&count=true" frameborder="0" scrolling="0" width="165px" height="20px"></iframe>
   </i>
</span>
{% endunless %}
